body {

font-family: Arial, sans-serif;

margin: 20px;
background-color: #f4f4f4;

}

h1 {
font-size: 32px;
}

h2 {

margin-top: 30px;
text-align: center;

}

p {
font-size: 16px;
line-height: 1.5;
}

img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
}


.descripcion {
    text-align: center;
    margin-bottom: 30px;
}

.descripcion-categoria {
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.ubicacion {
    font-weight: bold;
    margin-bottom: 25px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: white;
}

.mensaje-final {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}